h3 {
font-family: "Georgia", serif;
color: blue;
}

p {
font-family: "Arial";
color: gray;
}

figcaption {
  font-family: "Times New Roman";
  color: green;
}

abbr {
  font-family: "Courier";
  color: red;
}
